$color-primary: #6534ff;
$color-primary-light: #8f6bff;
$color-secondary: #ff47b5;
$color-secondary-light: #ff7bc8;

$color-text: #2d2d2d;
$color-muted: #6c6c6c;

$radius-lg: 1rem;
$radius-md: 0.75rem;
$radius-sm: 0.5rem;
